<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FX Prediction Game</title>
    <link rel=stylesheet href="../static/css/styles.css">

</head>
<body class="home-background">
    <div class="center-content">
        <div class="container">
            <h1>Welcome to the FX Prediction Game!</h1>
            <p>Let's play with AI!</p>
            <a href="{{ url_for('play') }}" class="start-button">Game Start</a>
 
            <a href="{{ url_for('rankings') }}" class="btn">To Ranking</a>
        </div>
    </div>
    <footer>
        <div >©︎2023 Takahashi All Rights Reserved</div>
    </footer>


</body>